<footer>
    <div class="footer-main">
        <div class="footer-area footer-padding">
            <div class="container">
                <div class="row  justify-content-between">
                    <div class="col-lg-4 col-md-6 col-sm-8">
                        <div class="single-footer-caption mb-30">

                            <div class="footer-logo">
                                <a href="index.html"><img src="../../public/img/logo/2.png" alt=""></a>
                            </div>
                            <div class="footer-tittle">
                                <div class="footer-pera">
                                    <p class="info1"><strong>RECESS CO., LTD
                                    </strong></p>
                                    <p class="info2">Floor 19, Saigon Centre Building - Tower 2, 67 Le Loi Street, Ben Nghe Ward, District 1, Ho Chi Minh City, Vietnam.</p>
                                    <p class="info2">Business Registration Certificate: 0308808576</p>
                                    <p class="info2 mt-3">
                                        <a target="_blank" href="https://apps.apple.com/app/lazada-best-shopping-online/id785385147" class="app-btn1"><img width="35%" src="../../public/img/logo/app_btn1.png"
                                                                                                                                                 alt=""></a>
                                        <a target="_blank" href="https://play.google.com/store/apps/details?id=com.lazada.android" class="app-btn2"><img width="35%" src="../../public/img/logo/app_btn2.png"
                                                                                                                                                      alt=""></a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-3 col-sm-4">
                        <div class="single-footer-caption mb-50">
                            <div class="footer-tittle">
                                <h4>Lazada</h4>
                                <ul>
                                    <li><a href="https://group.lazada.com/en/about/?spm=a2o4n.home.footer_top.8.24303bdcxdygIC">About us</a></li>
                                    <li><a href="contact">Contact</a></li>
                                    <li><a href="https://www.lazada.com/en/careers/">Recruit</a></li>
                                    <li><a href="https://group.lazada.com/en/press-release/?spm=a2o4n.home.footer_top.14.50983bdcyOWev9">Press</a></li>
                                    <li><a href="https://pages.lazada.vn/wow/gcp/route/lazada/vn/upr_1000345_lazada/channel/vn/upr-router/vn?hybrid=1&data_prefetch=true&prefetch_replace=1&at_iframe=1&wh_pid=/lazada/channel/vn/legal/quy-che-ban-hang&from=icms:offline">Operating</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-5">
                        <div class="single-footer-caption mb-50">
                            <div class="footer-tittle">
                                <h4>More information</h4>
                                <ul>
                                    <li><a href="privacy">Privacy policy</a></li>
                                    <li><a href="property">Property violations</a></li>
                                    <li><a href="complain">Dispute resolution process</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-7">
                        <div class="single-footer-caption mb-50">
                            <div class="footer-tittle">
                                <h4>Customer service</h4>
                                <div class="footer-pera footer-pera2">
                                    <p style="line-height: 24px">Support time</p>
                                    <p style="line-height: 24px">From <strong>09:00</strong> to <strong>18:00</strong> daily</p>
                                    <p style="line-height: 24px">Hotline: 19006509
                                    </p>
                                </div>
                            </div>
                        </div>
                        <!-- <div class="footer-form">
                            <div>
                                <form class="subscribe_form relative mail_par position-relative" name="sub-newsletter">
                                    <input required type="email" name="email" id="newsletter-form-email"
                                           placeholder=" Email address " class="hide-on-focus"
                                           onfocus="this.placeholder = ''"
                                           onblur="this.placeholder = ' Địa chỉ email '">
                                    <div class="form-icon">
                                        <button type="submit" name="submit" id="newsletter-submit"
                                                class="email_icon newsletter-submit button-contactForm"><img
                                                src="../public/img/logo/form_icon.png" alt=""></button>
                                    </div>
                                    <div class="mt-10 info position-absolute" id="result-newsletter"></div>
                                </form>

                                <script>
                                    const scriptURL = 'https://script.google.com/macros/s/AKfycbxjkiYJJ0sdSQfUp2CCEtY6vOaPR0R_7sYueS2xELNsf0edkare1Bx7lf23Xry6IRDB/exec'
                                    const form = document.forms['sub-newsletter']

                                    const alertPlaceholder = document.getElementById('result-newsletter')

                                    const alert = (message, type) => {
                                        alertPlaceholder.innerHTML = [
                                            `<div id="myAlertNewsletter" class="mb-0 alert alert-${type} alert-dismissible" role="alert">`,
                                            `   <div>${message}</div>`,
                                            '</div>'
                                        ].join('')
                                    }

                                    form.addEventListener('submit', e => {
                                        e.preventDefault()
                                        fetch(scriptURL, {method: 'POST', body: new FormData(form)})
                                            .then(() => {
                                                alert('Cám ơn bạn đã đăng ký!', 'success');
                                                $("#myAlertNewsletter").fadeTo(2000, 0).slideUp(1000, function () {
                                                    $("#myAlertNewsletter").alert('close');
                                                });
                                            })
                                            .catch(error => console.error('Error!', error.message))
                                    })
                                </script>
                            </div>
                        </div> -->
                    </div>
                </div>
                    <div class="col-xl-12 ">
                        <div class="footer-copy-right">
                            <p>
                                Copyright &copy;<script data-cfasync="false"
                                                        src="assets/js/email-decode.min.js"></script>
                                <script>document.write(new Date().getFullYear());</script>
                                All rights reserved
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </div>

</footer>
<script src="js/vendor/jquery-1.12.4.min.js"></script>
<script src="js/popper.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/jquery.magnific-popup.min.js"></script>
<script src="js/isotope.pkgd.min.js"></script>
<script src="js/imagesloaded.pkgd.min.js"></script>
<script src="js/jquery.counterup.min.js"></script>
<script src="js/waypoints.min.js"></script>
<script src="js/ajax-mail.js"></script>
<script src="js/owl.carousel.min.js"></script>
<script src="js/plugins.js"></script>
<script src="js/main.js"></script>
</body>
</html>
