<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Adazal</title>
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="/img/favicon.png">
    <!-- CSS files -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/magnific-popup.css">
    <link rel="stylesheet" href="/css/animate.css">
    <link rel="stylesheet" href="/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/css/themify-icons.css">
    <link rel="stylesheet" href="/css/pe-icon-7-stroke.css">
    <link rel="stylesheet" href="/css/meanmenu.min.css">
    <link rel="stylesheet" href="/css/bundle.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/responsive.css">
    <script src="/js/vendor/modernizr-3.11.7.min.js"></script>
    

</head>

<body>
    <header class="res-header-sm">
        <div class="header-top-wrapper theme-bg-2">
            <div class="container">
                <div class="header-top">
                    <div class="header-info">
                        <!-- <span>Contact us - 19006509 or <a href="#">info@domain.com</a></span> -->
                    </div>
                    <div class="book-login-register">
                        <ul>
                            <% if (typeof name !=='undefined' ) { %>
                                <li class="text-white">
                                    <a href="/profile">
                                        <i class="ti-user"></i>
                                        <%= name %>
                                    </a>
                                </li>
                                <form action="/logout?_method=DELETE" method="post">
                                    <li class="text-white ml-5">
                                        <i class="ti-lock"></i>
                                        <button class="text-white header-bg" type="submit">Log out</button>
                                    </li>
                                </form>
                                <% } else { %>
                                    <li><a href="/login"><i class="ti-user"></i> Login</a></li>
                                    <li><a href="/register"><i class="ti-settings"></i> Register</a></li>
                                    <% } %>

                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="header-bottom clearfix">
            <div class="container">
                <div class="header-bottom-wrapper">
                    <div class="logo-2 ptb-40">
                        <a href="/">
                            <img src="/img/logo/2.png" alt="">
                        </a>
                    </div>
                    <div class="menu-style-2 book-menu menu-hover">
                        <nav>
                            <ul>
                                <li><a href="/">home</a>
                                </li>
                                <li><a href="#">Women's fashion</a>
                                    <ul class="single-dropdown">
                                        <li><a href="/category/Dresses">Dresses</a></li>
                                        <li><a href="/category/Skirts">Skirts</a></li>
                                        <li><a href="/category/Sweaters">Sweaters</a></li>
                                        <li><a href="/category/Jeans">Jeans</a></li>
                                    </ul>
                                </li>
                                <!-- <li><a href="shop.html">men's fashion</a>
                                    <div class="category-menu-dropdown shop-menu">
                                        <div class="category-dropdown-style category-common2 mb-30">
                                            <h4 class="categories-subtitle"> shop layout</h4>
                                            <ul>
                                                <li><a href="shop-grid-2-col.html"> grid 2 column</a></li>
                                                <li><a href="shop-grid-3-col.html"> grid 3 column</a></li>
                                                <li><a href="shop.html">grid 4 column</a></li>
                                                <li><a href="shop-grid-box.html">grid box style</a></li>
                                                <li><a href="shop-list-1-col.html"> list 1 column</a></li>
                                                <li><a href="shop-list-2-col.html">list 2 column</a></li>
                                                <li><a href="shop-list-box.html">list box style</a></li>
                                                <li><a href="cart.html">shopping cart</a></li>
                                                <li><a href="wishlist.html">wishlist</a></li>
                                            </ul>
                                        </div>
                                        <div class="category-dropdown-style category-common2 mb-30">
                                            <h4 class="categories-subtitle"> product details</h4>
                                            <ul>
                                                <li><a href="product-details.html">tab style 1</a></li>
                                                <li><a href="product-details-2.html">tab style 2</a></li>
                                                <li><a href="product-details-3.html"> tab style 3</a></li>
                                                <li><a href="product-details-4.html">sticky style</a></li>
                                                <li><a href="product-details-5.html">sticky style 2</a></li>
                                                <li><a href="product-details-6.html">gallery style</a></li>
                                                <li><a href="product-details-7.html">gallery style 2</a></li>
                                                <li><a href="product-details-8.html">fixed image style</a></li>
                                                <li><a href="product-details-9.html">fixed image style 2</a></li>
                                            </ul>
                                        </div>
                                        <div class="mega-banner-img">
                                            <a href="single-product.html">
                                                <img src="/img/banner/18.jpg" alt="">
                                            </a>
                                        </div>
                                    </div>
                                </li> -->
                                <li><a href="#">men's fashion</a>
                                    <ul class="single-dropdown">
                                        <li><a href="/category/Hoodies">Hoodies</a></li>
                                        <li><a href="/category/T-shirts">T-shirts</a></li>
                                        <li><a href="/category/Jacket">Jacket</a></li>
                                        <li><a href="/category/Short">Short</a></li>

                                    </ul>
                                </li>
                                <li><a href="#">kid's fashion</a>
                                    <ul class="single-dropdown">
                                        <li><a href="/category/Shoes">Shoes</a></li>
                                        <li><a href="/category/Sun Glasses">Sun glasses</a></li>
                                        <li><a href="/category/Bags">Bags</a></li>
                                        <li><a href="/category/Hats & Caps">Hats & Caps</a></li>
                                    </ul>
                                </li>

                            </ul>
                        </nav>
                    </div>
                    <div class="header-cart-2" onmouseover="showCart()" onmouseout="hideCart()">
                        <a class="icon-cart" href="/cart">
                            <i class="ti-shopping-cart"></i>
                            <span class="shop-count book-count">0</span>
                        </a>
                    </div>
                    <div class="showcart" onmouseover="showCart()" onmouseout="hideCart()">
                        <button class="clear-cart">Remove all</button>
                        <table>
                            <tbody>
                                <tr class="cart-item-template" style="display: none;">
                                    <td class="product-thumbnail">
                                        <a href="#"><img src="" alt=""></a>
                                    </td>
                                    <td class="product-name"><a href="#"></a></td>
                                    <td class="product-price-cart"><span class="amount"></span></td>
                                    <td class="product-remove">
                                        <button class="remove-product">x</button>
                                    </td>
                                </tr>
                                <tr class="empty-cart-message" style="display: none;">
                                    <td colspan="4" style="text-align: center;">No product here!</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>                
                </div>
                <div class="row">
                    <div class="mobile-menu-area d-md-block col-md-12 col-lg-12 col-12 d-lg-none d-xl-none">
                        <div class="mobile-menu">
                            <nav id="mobile-menu-active">
                                <ul class="menu-overflow">
                                    <li><a href="/">HOME</a>

                                    </li>
                                    <li><a href="#">women's fashion</a>
                                        <ul>
                                            <li><a href="/category/Dresses">Dresses</a></li>
                                            <li><a href="/category/Skirts">Skirts</a></li>
                                            <li><a href="/category/Sweaters">Sweaters</a></li>
                                            <li><a href="/category/Jeans">Jeans</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="#">men's fashion</a>
                                        <ul>
                                            <li><a href="/category/Hoodies">Hoodies</a></li>
                                            <li><a href="/category/T-shirts">T-shirts</a></li>
                                            <li><a href="/category/Jacket">Jacket</a></li>
                                            <li><a href="/category/Short">Short</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="#">kid's fashion</a>
                                        <ul>
                                            <li><a href="/category/Shoes">Shoes</a></li>
                                            <li><a href="/category/Sun Glasses">Sun glasses</a></li>
                                            <li><a href="/category/Bags">Bags</a></li>
                                            <li><a href="/category/Hats & Caps">Hats & Caps</a></li>
                                        </ul>
                                    </li>

                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="header-bottom-furniture wrapper-padding-2 border-top-3">
            <div class="container-fluid">
                <div class="furniture-bottom-wrapper">
                    <div class="furniture-login">

                    </div>
                    <div class="furniture-search">
                        <form method="post" action="/search" enctype="application/x-www-form-urlencoded">
                            <input placeholder="I am Searching for . . ." type="text" name="searchTerm" required>
                            <button>
                                <i class="ti-search"></i>
                            </button>
                        </form>
                    </div>
                    <div class="furniture-wishlist">

                    </div>
                </div>
            </div>
        </div>
        </div>
        </div>

    </header>