<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Adazal</title>
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="/img/favicon.png">
    <!-- CSS files -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/magnific-popup.css">
    <link rel="stylesheet" href="/css/animate.css">
    <link rel="stylesheet" href="/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/css/themify-icons.css">
    <link rel="stylesheet" href="/css/pe-icon-7-stroke.css">
    <link rel="stylesheet" href="/css/meanmenu.min.css">
    <link rel="stylesheet" href="/css/bundle.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/responsive.css">
    <script src="/js/vendor/modernizr-3.11.7.min.js"></script>
    <!-- <style>
        .res-header-sm {
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            background-color: #fff; /* Adjust the background color as needed */
            z-index: 1000; 
        }
    </style> -->
</head>
<body>
    <header class="res-header-sm">
        <div class="header-top-wrapper theme-bg-2">
            <div class="container">
                <div class="header-top">
                    <div class="header-info">
                        <span>Contact us - 00 221 225 123-30 or <a href="#">info@domain.com</a></span>
                    </div>
                    <div class="book-login-register">
                        <ul>
                            <li><a href="login.html"><i class="ti-user"></i>login</a></li>
                            <li><a href="register.html"><i class="ti-settings"></i>register</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="header-bottom clearfix">
            <div class="container">
                <div class="header-bottom-wrapper">
                    <div class="logo-2 ptb-40">
                        <a href="index.html">
                            <img src="/img/logo/2.png" alt="">
                        </a>
                    </div>
                    <div class="menu-style-2 book-menu menu-hover">
                        <nav>
                            <ul>
                                <li><a href="index.html">home</a>
                                </li>
                                <li><a href="#">Women's fashion</a>
                                    <ul class="single-dropdown">
                                        <li><a href="#">Dresses</a></li>
                                        <li><a href="#">Skirts</a></li>
                                        <li><a href="#">Sweaters</a></li>
                                        <li><a href="#">Jeans</a></li>

                                    </ul>
                                </li>
                                <!-- <li><a href="shop.html">men's fashion</a>
                                    <div class="category-menu-dropdown shop-menu">
                                        <div class="category-dropdown-style category-common2 mb-30">
                                            <h4 class="categories-subtitle"> shop layout</h4>
                                            <ul>
                                                <li><a href="shop-grid-2-col.html"> grid 2 column</a></li>
                                                <li><a href="shop-grid-3-col.html"> grid 3 column</a></li>
                                                <li><a href="shop.html">grid 4 column</a></li>
                                                <li><a href="shop-grid-box.html">grid box style</a></li>
                                                <li><a href="shop-list-1-col.html"> list 1 column</a></li>
                                                <li><a href="shop-list-2-col.html">list 2 column</a></li>
                                                <li><a href="shop-list-box.html">list box style</a></li>
                                                <li><a href="cart.html">shopping cart</a></li>
                                                <li><a href="wishlist.html">wishlist</a></li>
                                            </ul>
                                        </div>
                                        <div class="category-dropdown-style category-common2 mb-30">
                                            <h4 class="categories-subtitle"> product details</h4>
                                            <ul>
                                                <li><a href="product-details.html">tab style 1</a></li>
                                                <li><a href="product-details-2.html">tab style 2</a></li>
                                                <li><a href="product-details-3.html"> tab style 3</a></li>
                                                <li><a href="product-details-4.html">sticky style</a></li>
                                                <li><a href="product-details-5.html">sticky style 2</a></li>
                                                <li><a href="product-details-6.html">gallery style</a></li>
                                                <li><a href="product-details-7.html">gallery style 2</a></li>
                                                <li><a href="product-details-8.html">fixed image style</a></li>
                                                <li><a href="product-details-9.html">fixed image style 2</a></li>
                                            </ul>
                                        </div>
                                        <div class="mega-banner-img">
                                            <a href="single-product.html">
                                                <img src="/img/banner/18.jpg" alt="">
                                            </a>
                                        </div>
                                    </div>
                                </li> -->
                                <li><a href="#">men's fashion</a>
                                    <ul class="single-dropdown">
                                        <li><a href="#">Hoodies</a></li>
                                        <li><a href="#">T-shirts</a></li>
                                        <li><a href="#">Jacket</a></li>
                                        <li><a href="#">Short</a></li>

                                    </ul>
                                </li>
                                <li><a href="#">kid's fashion</a>
                                    <ul class="single-dropdown">
                                        <li><a href="#">Shoes</a></li>
                                        <li><a href="#">Sun glasses</a></li>
                                        <li><a href="#">Bags</a></li>
                                        <li><a href="#">Hats & Caps</a></li>
                                    </ul>
                                </li>

                            </ul>
                        </nav>
                    </div>
                    <div class="header-cart-2">
                        <a class="icon-cart" href="#">
                            <i class="ti-shopping-cart"></i>
                            <span class="shop-count book-count">02</span>
                        </a>
                        <!-- <ul class="cart-dropdown">
                            <li class="single-product-cart">
                                <div class="cart-img">
                                    <a href="#"><img src="/img/cart/1.jpg" alt=""></a>
                                </div>
                                <div class="cart-title">
                                    <h5><a href="#"> Bits Headphone</a></h5>
                                    <h6><a href="#">Black</a></h6>
                                    <span>$80.00 x 1</span>
                                </div>
                                <div class="cart-delete">
                                    <a href="#"><i class="ti-trash"></i></a>
                                </div>
                            </li>
                            <li class="single-product-cart">
                                <div class="cart-img">
                                    <a href="#"><img src="/img/cart/2.jpg" alt=""></a>
                                </div>
                                <div class="cart-title">
                                    <h5><a href="#"> Bits Headphone</a></h5>
                                    <h6><a href="#">Black</a></h6>
                                    <span>$80.00 x 1</span>
                                </div>
                                <div class="cart-delete">
                                    <a href="#"><i class="ti-trash"></i></a>
                                </div>
                            </li>
                            <li class="single-product-cart">
                                <div class="cart-img">
                                    <a href="#"><img src="/img/cart/3.jpg" alt=""></a>
                                </div>
                                <div class="cart-title">
                                    <h5><a href="#"> Bits Headphone</a></h5>
                                    <h6><a href="#">Black</a></h6>
                                    <span>$80.00 x 1</span>
                                </div>
                                <div class="cart-delete">
                                    <a href="#"><i class="ti-trash"></i></a>
                                </div>
                            </li>
                            <li class="cart-space">
                                <div class="cart-sub">
                                    <h4>Subtotal</h4>
                                </div>
                                <div class="cart-price">
                                    <h4>$240.00</h4>
                                </div>
                            </li>
                            <li class="cart-btn-wrapper">
                                <a class="cart-btn btn-hover" href="#">view cart</a>
                                <a class="cart-btn btn-hover" href="#">checkout</a>
                            </li>
                        </ul> -->
                    </div>
                </div>
                <div class="row">
                    <div class="mobile-menu-area d-md-block col-md-12 col-lg-12 col-12 d-lg-none d-xl-none">
                        <div class="mobile-menu">
                            <nav id="mobile-menu-active">
                                <ul class="menu-overflow">
                                    <li><a href="#">HOME</a>

                                    </li>
                                    <li><a href="#">women's fashion</a>
                                        <ul>
                                            <li><a href="#">Dresses</a></li>
                                            <li><a href="#">Skirts</a></li>
                                            <li><a href="#">Sweaters</a></li>
                                            <li><a href="#">Jeans</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="#">men's fashion</a>
                                        <ul>
                                            <li><a href="#">Hoodies</a></li>
                                            <li><a href="#">T-shirts</a></li>
                                            <li><a href="#">Jacket</a></li>
                                            <li><a href="#">Short</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="#">kid's fashion</a>
                                        <ul>
                                            <li><a href="#">Shoes</a></li>
                                            <li><a href="#">Sun glasses</a></li>
                                            <li><a href="#">Bags</a></li>
                                            <li><a href="#">Hats & Caps</a></li>
                                        </ul>
                                    </li>
                                    
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="header-bottom-furniture wrapper-padding-2 border-top-3">
            <div class="container-fluid">
                <div class="furniture-bottom-wrapper">
                    <div class="furniture-login">

                    </div>
                    <div class="furniture-search">
                        <form action="#">
                            <input placeholder="I am Searching for . . ." type="text">
                            <button>
                                <i class="ti-search"></i>
                            </button>
                        </form>
                    </div>
                    <div class="furniture-wishlist">

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</header>