<%- include('partials/header') %>  
        <!-- header end -->
        <main id="site-main">
            <div class="container">
                <div class="box-nav d-flex justify-between">
                    <a href="/vendor" class="border-shadow">
                        <span class="text-gradient"><i class="ti-angle-double-left"></i> All Products</span>
                    </a>
                </div>            
                <!-- form handling -->       
            </div>
        </main>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12 col-12 col-lg-6 col-xl-6 ml-auto mr-auto">
                            <div class="login-form-container">
                                <div class="login-form">
                                    <h3 class="text-center mb-50">Add Product</h3>
                                    <%- include('partials/form-product') %>
                            </div>
                    </div>
                </div>
            </div>

        <!-- login-area end -->
        <%- include('partials/footer') %>
		