<%- include('partials/header', {name : name}) %> 
   <body>
      <!--[if lt IE 8]>
      <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
      <![endif]-->
      <!-- header start -->
      <div id="header"></div>
      <!-- header end -->
      <!-- shopping-cart-area start -->
      <div class="blog-details pt-95 pb-100">
         <div class="container">
            <div class="row">
               <div class="col-12">
                  <div class="blog-details-info">
                     <div class="blog-meta">
                        <ul>
                           <li>More</li>
                           <li>September 9, 2023</li>
                        </ul>
                     </div>
                     <h3>PRIVACY POLICY OF LAZADA VIETNAM</h3>
                     <img src="/img/more/privacy.jpg" alt="">
                     <p >Lazada understands that our users are concerned about their personal data and how that data is collected, used, shared, and processed. We commit to handling your personal data in accordance with legal regulations when you use any features, functions, small applications, or games on any available phones on our Platform or Service, interact with us through a service, external application, or through our customer service staff, or access our Service or Platform through your computer, mobile device, or any other internet-connected device.</p>
                     <p >PLEASE READ THIS PRIVACY POLICY CAREFULLY. BY CLICKING AND CHECKING THE STATEMENTS &quot;REGISTER,&quot; &quot;I AGREE TO LAZADA&apos;S PRIVACY POLICY,&quot; &quot;I AGREE AND ALLOW THE COLLECTION, USE, DISCLOSURE, STORAGE, TRANSFER, AND/OR PROCESSING OF MY PERSONAL DATA FOR THE PURPOSES SET FORTH HEREIN, AND PURSUANT TO THE TERMS OF LAZADA&apos;S PRIVACY POLICY,&quot; OR SIMILAR STATEMENTS DISPLAYED ON LAZADA&apos;S REGISTRATION PAGE OR DURING THE PROVISION OF SERVICES OR ACCESS TO THE PLATFORM FOR YOU, YOU ACKNOWLEDGE THAT YOU HAVE READ AND UNDERSTOOD THE TERMS OF THIS PRIVACY POLICY, AND YOU HAVE AGREED AND ALLOWED THE COLLECTION, USE, DISCLOSURE, STORAGE, TRANSFER, AND/OR PROCESSING OF YOUR PERSONAL DATA AS DESCRIBED AND PROVIDED IN THIS PRIVACY POLICY.</p>
                     <br>
                     <h4 >1. Introduction to this Privacy Policy</h4>
                     <ol>
                     <li>1.1. The Lazada Platform Privacy Policy (&quot;Lazada Platform Privacy Policy&quot;) describes how RECESS Co., Ltd. (&quot;Lazada&quot;) and Lazada&apos;s affiliates (referred to collectively or individually as &quot;Lazada&quot; or &quot;we&quot;) collect, use, disclose, store, and/or process the Personal Data we collect and receive in providing services on the Lazada platform (including on related websites and mobile applications) (&quot;Lazada Platform&quot;) and/or granting you access to the Lazada Platform.</li>
                     <li>1.2. This Lazada Payment Privacy Policy (as integrated and supplemented into the Lazada Platform Privacy Policy) specifically applies when you access and use credit-provisioned products, features, and services (collectively referred to as &quot;Credit Services&quot;) that may be provided by or through any third-party partners licensed to cooperate with Lazada and lenders registered with those partners (collectively referred to as &quot;Partners&quot;), as listed on the Lazada Platform from time to time, depending on the Credit Services you have signed up for and/or provided through the Lazada Platform.</li>
                     <li>1.3. This Lazada Payment Privacy Policy is supplemental and should be read together with applicable terms and conditions (&quot;Service Terms&quot;), which may include but are not limited to LazPaylater Service Terms when applicable to you, Lazada Platform Terms of Use, any agreements related to Credit Services that may be entered into by you, Lazada, and Partners (all three parties or some parties, with or without others), as well as any other materials or notices provided by Lazada by referencing this Lazada Payment Privacy Policy, and is not intended to supersede such notices, terms, and conditions, unless expressly stated otherwise by us. Please refer to the applicable Service Terms provided to you in the specific service to identify which organization is providing Credit Services to you. You are responsible for carefully reviewing and regularly reviewing the applicable terms and conditions of the relevant Credit Services, as well as conducting your own due diligence on our affiliated Partners providing this Credit Services, with whom Lazada may disclose your data for the purposes mentioned above, and who are associated with the services mentioned above.</li>
                     <li>1.4. Capitalized terms used in this Lazada Payment Privacy Policy but not defined herein will have the meanings ascribed to them in the Lazada Platform Terms of Use, including the Lazada Platform Privacy Policy. &quot;You&quot; and &quot;your&quot; mean users who access, register for, and/or use Credit Services.</li>
                     <li>1.5. Your use of Credit Services must comply with the Lazada Platform Privacy Policy as supplemented by this Lazada Payment Privacy Policy, which sets forth how your Personal Data may be collected, used, stored, disclosed, or otherwise processed as described below. Unless otherwise required by context, the rights and obligations specified in the Lazada Platform Privacy Policy for services on the platform shall equally apply to matters described in this Lazada Payment Privacy Policy related to Credit Services.</li>
                     <li>1.6. Credit Services provided by our Partners: When you use or access any Credit Services provided by one or more third-party Partners, our Partners may require your Personal Data to provide Credit Services to you. Through the Lazada Platform, we may assist by collecting such information on behalf of our Partners or disclosing such information to our Partners, in each case, pursuant to agreements entered into with our Partners, applicable law and regulations, and with your consent when required. These Partners are independent third parties, and therefore the collection, use, storage, processing, and disclosure of your Personal Data will comply with the applicable privacy policies and terms and conditions of our Partners.</li>
                  </ol>
                     <p >You are responsible for carefully reviewing the privacy policies and terms and conditions of our Partners before agreeing to such policies and terms and conditions and registering for any Credit Services provided by the relevant Partners.</p>
                     <br>
                     <h4 >2. Collection of Personal Data</h4>
                     <ol>
                     <li>2.1. When you register for access or use of Credit Services and/or during your access or use of Credit Services, depending on the services you register for and/or use, we may collect Personal Data, some of which (highlighted and underlined below) may be sensitive personal data, directly or indirectly from you or other third parties (in addition to the information listed in the Lazada Platform Privacy Policy), including but not limited to the following:</li>
                     <ol>
                     <li>(a) Personal Information and Contact Information, which may include information about residential or delivery addresses, marital status, gender, date and place of birth, nationality, email address, your educational background, the name of your representative or authorized person/acting director, family members and children, spouse, emergency contact information, social media accounts.</li>
                     <li>(b) Identification Information, which may include images of you, personal identification documents and/or government-issued personal identification numbers (e.g., identification card numbers, passports, or other travel documents); and, where possible, additional information for verification purposes (e.g., proof of your address).</li>
                     <li>(c) Past and Present Employment Information, which may include information such as occupation, user names of labor users, type of employing organization, field of occupation, job functions and responsibilities, job titles, salary levels.</li>
                     <li>(d) Financial Information, which may include bank account details, income evidence, information about your loans, including any credit limits, loan repayment history, risk profile information, credit ratings, and your ability to pay, information related to any statements of appropriateness, the suitability of transactions, and other financial details.</li>
                     <li>(e) Technical Data, which may include information obtained from your computer, mobile device, or other hardware through which you access and use Credit Services (such as IP address, geographic location, your device&apos;s unique identifier and other features/data that can be used to identify the device, browser/platform type and version, internet service provider, operating system, referral source/exit page, access/use duration, page views, and other device information obtained from your device).</li>
                     <li>(f) Biometric Data, such as facial image data, for identity verification.</li>
                     <li>(g) Information that Lazada deems necessary to facilitate the provision of Credit Services to you, including information necessary to operate your account and/or to perform Lazada&apos;s obligations under applicable law.</li>
                     <li>(h) Other information necessary for our Partners to provide and operate Credit Services and make decisions related to Credit Services (e.g., to assess credit ratings, payment ability, or compliance with conditions of receiving Credit Services) or to perform our Partners&apos; obligations under applicable law.</li>
                     <li>(i) Information about you from your use of the Lazada Platform and/or Credit Services, which may include information about your shopping behavior and information we and/or our Partners receive when making decisions about your services.</li>
                  </ol>
                     <li>2.2. We have taken steps to ensure that we do not collect more Personal Data from you than is necessary for us to perform pre-contractual steps at your request or initiated by you, or to comply with our contractual obligations to you and/or our Partners, to serve the purposes set forth in Section 3 of this Lazada Payment Privacy Policy, to protect your account, to minimize and prevent fraud, to block or prevent danger to the network, body, or health of any person, to comply with our legal obligations, to perform a task carried out in the public interest or in the exercise of official authority, to protect our legitimate rights and interests, to establish, comply with, enforce, or protect legal requirements, to achieve our legitimate interests or those of others, and to operate our business activities.</li>
                     <li>2.3. The provision of your Personal Data is voluntary. However, if you choose not to provide information as requested, we may not be able to provide you with products or services if applicable.</li>
                     <li>2.4. In some cases, you may provide Personal Data of other individuals (such as spouses, family members, or friends) to us. For example, you may add these individuals as &quot;emergency contacts&quot; or &quot;urgent contacts.&quot; If you provide us with the Personal Data of these individuals, you represent and warrant that you have obtained the consent of these individuals for their Personal Data to be collected, used, and disclosed as provided in the Lazada Platform Privacy Policy and this Lazada Payment Privacy Policy, including the transfer of their Personal Data outside the territory of Vietnam.</li>
                  </ol>
                     <br>
                     <h4 >3. Use of Personal Data</h4>
                     <ol>
                     <li >3.1. In addition to the purposes of use listed in the Lazada Platform Privacy Policy, we may use your Personal Data to support the provision of Credit Services to you and for other business activities of Lazada, including the following purposes:</li>
                     <ol>
                     <li>(a) Processing, managing, or verifying your registration to become a user of Credit Services, which may include:</li>
                     <li>(i) Verifying your identity.</li>
                     <li>(ii) Verifying information provided by you.</li>
                     <li>(iii) Conducting reference searches in information provided by you or information about you from third parties.</li>
                     <li>(iv) Making or supporting decisions related to your registration as a user of Credit Services (including but not limited to customer assessment decisions) or the lawful use of any features and functions of Credit Services.</li>
                     <li>(v) Maintaining and managing your registration as a user of Credit Services.</li>
                     <li>(b) Providing you with customer support related to your use of Credit Services, which may include:</li>
                     <li>(i) Managing and creating favorable conditions for your use of Credit Services.</li>
                     <li>(ii) Authenticating, processing, managing, and/or completing your transactions and/or loan applications, withdrawals, disbursements, and/or repayments (with the approval of relevant Partners).</li>
                     <li>(iii) Sending you notifications about your transactions and/or loan applications, withdrawals, disbursements, and/or repayments (with the approval of relevant Partners).</li>
                     <li>(iv) Responding to your requests, inquiries, feedback, complaints, or disputes.</li>
                     <li>(c) For risk assessment and operational management purposes, which may include:</li>
                     <li>(i) Risk management, credit scoring, or assessing repayment ability, or investigating, preventing, detecting, blocking, and/or mitigating fraud or other potentially prohibited or illegal activities and protecting the integrity of Credit Services.</li>
                     <li>(ii) Determining your geographical location to verify the availability of services.</li>
                     <li>(iii) Notifying you of any service disruptions and/or abnormal account activities.</li>
                     <li>(iv) Maintaining and providing any software updates and/or other updates and support that may be required from time to time to ensure the smooth operation of Credit Services.</li>
                     <li>(v) Processing or assisting with customer service, following your instructions, handling or responding to any questions presented by you or on your behalf.</li>
                     <li>(vi) Contacting you or communicating with you and any contacts you share with us via mobile and internet phone calls, text messages, emails, and/or postal mail or other means for the purpose of maintaining and/or managing your relationship with us or your use of Credit Services.</li>
                     <li>(vii) Detecting, investigating, preventing, mitigating, and/or enforcing our rights related to any actual or suspected violations of the terms and conditions of service, any applicable internal policies, standards, guidelines, laws, or regulations of the relevant industry.</li>
                     <li>(viii) Assessing and verifying your compliance with the terms and conditions of Credit Services.</li>
                     <li>(ix) Conducting audits, research, statistical analysis, or surveys, whether orally or in writing, to manage and protect our business operations, including our information technology infrastructure, to measure the performance of Credit Services and to enhance your satisfaction with Credit Services.</li>
                     <li>(x) Deploying, monitoring, managing, and analyzing Credit Services, including improving those services or developing new products and services.</li>
                     <li>(xi) Analyzing trends, usage patterns, and other behaviors (whether individually or collectively) to help us better understand how you and our collective user data access and use Credit Services and basic commercial activities, including improving Credit Services and responding to your questions and preferences.</li>
                     <li>(xii) Allowing assessments, evaluations, or other evaluations related to any proposed purchases, financial sponsorships, joint ventures, mergers, or acquisitions, reorganization, restructuring, dissolution, or sale or other transfer of all or part of our business operations (whether as a going concern or as part of bankruptcy, litigation or similar proceedings), including cases where your Personal Data is transferred with the condition that we comply with the applicable data protection laws.</li>
                     <li>(d) For the purpose of supporting our Partners in debt recovery, which may include information about &apos;emergency contacts&apos; or &apos;urgent contacts,&apos; individuals who may be contacted if you cannot be reached. That information will include their names, contact details, and their relationship with you.</li>
                     <li>(e) For the purpose of detecting, preventing, and prosecuting crimes such as fraud, money laundering, and terrorist financing, including those related to the obligations of Lazada and Partners under any laws, regulations, guidelines, or notices issued by any government or regulatory agency, as follows:</li>
                     <li>(i) Disclosure and/or reporting as required by any law or regulation of any country applicable to us, Partners, or each of us, Partners, and our respective affiliates, government officials, or other third parties, including any card association or other payment network. Disclosure may also be made pursuant to any court subpoena, court order, legal requirement, or other legal process or request or other legal requirement applicable to us, Partners, and each of us, Partners, and our respective affiliates.</li>
                     <li>(ii) Disclosure of anything that may be legally allowed to prevent any damage or financial loss, to report any suspected illegal activity, or to resolve any actual or potential complaints against Lazada.</li>
                     <li>(f) Any other lawful business purposes, such as storing, storing server data or backing up your Personal Data for operational, legal, or business purposes (whether inside and/or outside the jurisdiction for which the applicable law and regulation allow), to protect you and other users of Credit Services from loss, to protect the integrity, maintain the security of our systems and products, and to protect any other rights and/or assets of ours.</li>
                     <li>(g) We may also use your Personal Data in other ways that we have specifically notified you of at the time of collection or subsequently agreed upon. We may also perform automated decision-making processes for any of the purposes mentioned in Section 3.</li>
                  </ol>
                     <li>3.2. Partner Services: As described in Section 1.6 above, when you have requested or during the use of services provided by Partners (including any Credit Services provided by such Partners on or through the Lazada Platform) (&quot;Partner Services&quot;), your Personal Data will be shared with Lazada, Partners, and any other third-party providers who may collaborate with Lazada and/or Partners in connection with Credit Services (such as third-party providers offering KYC or credit checks). The use of your Personal Data by Partners is not governed by this Lazada Payment Privacy Policy. You agree that any concerns related to data protection regarding Partner Services will be directed to the party named in the applicable privacy policy of the Partner, which you must agree to access and use Partner Services.</li>
                  </ol>
                     <br>
                     <h4>4. Disclosure/Sharing of Personal Data</h4>
                     <ol>
                     <li>4.1. To fulfill the purposes stated in Section 3 above, we may need to provide your Personal Data to various parties. These parties may include but are not limited to:</li>
                     <ol>
                     <li>(a) those mentioned in the Lazada Platform Privacy Policy and this Lazada Payment Privacy Policy for the purposes described herein, including Partners providing Credit Services;</li>
                     <li>(b) Lazada Group and companies affiliated with Lazada Group;</li>
                     <li>(c) agents, contractors, professional advisors, or third-party service providers we engage to support our business operations and services provided on the Lazada Platform and those with a security obligation towards us (such as KYC service providers or fraud detection);</li>
                     <li>(d) certain insurance service providers and/or Credit Office Operators in collaboration with our Partners;</li>
                     <li>(e) merchants and other organizations, such as card associations, payment networks, payment gateways, payment agents, or financial institutions, individuals or through, from, to, and for payments made through Credit Services or other organizations to enable your use of Credit Services;</li>
                     <li>(f) third-party financial entities, banks, non-bank organizations, debt collection agencies, and credit bureaus (including credit scoring agencies using substitute data and any other credit reporting organizations);</li>
                     <li>(g) professional advisors, law enforcement agencies, insurance companies, governments, regulatory authorities, or any other organizations that we and/or Partners are obliged to disclose information to as required by any applicable laws, regulations, or commercial agreements, including agreements with any card associations or payment networks;</li>
                     <li>(h) entities involved in any merger, acquisition, financial sponsorship transaction, business cooperation, or joint venture with us; and</li>
                     <li>(i) parties related to you, including parents, spouses, relatives, or parties you authorize in case you are unable to resolve.</li>
                  </ol>
                  
                     <li>4.2. You understand and agree that Lazada may transfer or allow the transfer of your Personal Data outside the territory of Vietnam for any purposes stipulated in this Lazada Payment Privacy Policy.</li>
                  </ol>
                     <br>
                     <h4>5. Security Measures and Retention</h4>
                     <ol>
                     <li>5.1. We take all reasonable preventive steps and measures, including technical, administrative, and physical protection measures, to help safeguard your Personal Data from loss, misuse, and unauthorized access, disclosure, alteration, and destruction.</li>
                     <li>5.2. We recommend that you do not disclose your password to anyone. Our employees will never ask you for your password through any means. If you share a computer or mobile device with others, you should not store your login information (e.g., username and password) on that shared device.</li>
                     <li>5.3. We retain your Personal Data for a reasonable period necessary to meet the purposes for which your Personal Data was collected and processed, unless a longer retention period is required by law or permitted by law and to comply with legal obligations under applicable laws. Once your Personal Data is no longer necessary for Credit Services or the purposes outlined in Section 3, or we no longer have a business or legal purpose to retain your Personal Data, we will take steps to delete, destroy, anonymize, or prevent access or use of that Personal Data for purposes other than complying with this Lazada Payment Privacy Policy or for safety, security, fraud prevention, and detection, as required by applicable laws.</li>
                  </ol>
                     <br>
                     <h4>6. Changes to this Policy</h4>
                     <ol>
                     <li>6.1. We may update this Lazada Payment Privacy Policy from time to time. Any changes we make to this Lazada Payment Privacy Policy in the future will be posted on this page, and significant changes will be notified to you. To the extent permitted by local law, your continued use of Credit Services or explicit agreement thereto, following any additions, updates, or amendments to this Lazada Payment Privacy Policy (whether you have reviewed the materials or not) will constitute your acknowledgment and acceptance of the changes we make to this Lazada Payment Privacy Policy. You agree that it is your responsibility to regularly review and check this Lazada Payment Privacy Policy for any updates or changes.</li>
                  </ol>
                     <br>
                     <h4>7. Other Matters</h4>
                     <ol>
                     <li>7.1. Other matters, including but not limited to your data subject rights, choices and means to limit the processing of your Personal Data, contact details for questions, feedback, concerns, and suggestions or complaints, are governed by the Lazada Platform Privacy Policy and shall apply equally to the processing of Personal Data related to Credit Services unless otherwise specified.</li>
                     <li>7.2. In case of any inconsistencies between this Lazada Payment Privacy Policy and the Lazada Platform Privacy Policy, this Lazada Payment Privacy Policy shall take precedence to the extent not inconsistent.</li>
                  </ol>
                     <br>
                     <h4>Language</h4>
                     <ol>
                     <li>8.1. This Lazada Payment Privacy Policy is prepared in both English and Vietnamese languages. Both texts are original. In case of any inconsistencies or differences in interpretation between the two languages, the English language shall be deemed to be automatically amended to be consistent and in line with the relevant Vietnamese language.</li>
                  </ol>
                  </div>
                  <br>
                  <div class="leave-area">
                     <h4 class="blog-details-title">Leave your thought</h4>
                     <form action="#">
                        <div class="row">
                           <div class="col-lg-6">
                              <div class="row">
                                 <div class="col-12">
                                    <div class="leave-form mb-20">
                                       <input placeholder="Name *" type="text">
                                    </div>
                                 </div>
                                 <div class="col-12">
                                    <div class="leave-form mb-20">
                                       <input placeholder="Email *" type="email">
                                    </div>
                                 </div>
                                 <div class="col-12">
                                    <div class="leave-form mb-20">
                                       <input placeholder="Website" type="text">
                                    </div>
                                 </div>
                              </div>
                           </div>
                           <div class="col-lg-6">
                              <div class="text-leave">
                                 <textarea placeholder="Comment*"></textarea>
                              </div>
                           </div>
                           <div class="col-12">
                              <div class="leave-btn">
                                 <button class="submit btn-hover" type="submit"><i class="pe-7s-mail"></i> Send</button>
                              </div>
                           </div>
                        </div>
                     </form>
                  </div>
                  <div class="blog-replay-wrapper">
                     <h4 class="blog-details-title2">HAVE 0 COMMENTS</h4>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <%- include('partials/footer') %>
