<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Adazal</title>
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="/img/favicon.png">
    <!-- CSS files -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/magnific-popup.css">
    <link rel="stylesheet" href="/css/animate.css">
    <link rel="stylesheet" href="/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/css/themify-icons.css">
    <link rel="stylesheet" href="/css/pe-icon-7-stroke.css">
    <link rel="stylesheet" href="/css/meanmenu.min.css">
    <link rel="stylesheet" href="/css/bundle.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/responsive.css">
    <script src="/js/vendor/modernizr-3.11.7.min.js"></script>
    <style>
        .footer-top-area {
            display: flex;
            justify-content: center;
            align-items: center;
        }
    </style>
</head>
<body>
<footer class="footer-area">
    <div class="footer-top-area gray-bg-5 pt-105 pb-65">
        <div class="container">
            <div class="row"  style = "display: flex; justify-content: center;">
                <div class="col-lg-4 col-md-6" style = "padding-right: 100px">
                    <div class="footer-widget mb-40">
                        <h3 class="footer-widget-title-2">LAZADA VIETNAM</h3>
                        <div class="footer-info-wrapper">
                            <div class="footer-address">
                                <div class="footer-info-icon">
                                    <i class="ti-location-pin"></i>
                                </div>
                                <div class="footer-info-content">
                                    <p>Floor 19, Saigon Centre Building - Tower 2, 67 Le Loi Street, Ben Nghe Ward, District 1, Ho Chi Minh City, Vietnam</p>
                                </div>                                
                            </div>
                            <div class="footer-address">
                                <div class="footer-info-icon">
                                    <i class="ti-headphone-alt"></i>
                                </div>
                                <div class="footer-info-content">
                                    <p>(+84)308808576
                                    </p>
                                </div>
                            </div>
                            <div class="footer-address">
                                <div class="footer-info-icon">
                                    <i class="ti-email"></i>
                                </div>
                                <div class="footer-info-content">
                                    <p><a href="#">support@lazada.com</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>            
                <div class="col-lg-4 col-md-6" style = "border-left: 3000px">
                    <div class="footer-widget mb-40">
                        <h3 class="footer-widget-title-2">More</h3>
                        <div class="footer-widget-content-2">
                            <ul>
                                <li><a href="https://group.lazada.com/en/about/?spm=a2o4n.home.footer_top.8.24303bdcxdygIC">About us</a></li>
                                <li><a href="footer-contact.html">Contact</a></li>
                                <li><a href="footer-privacy.html">Privacy</a></li>
                                <li><a href="footer-property.html">Property</a></li>
                                <li><a href="footer-complain.html">Complain</a></li>
                                <li><a href="https://www.lazada.com/en/careers/">Recruit</a></li>
                            </ul>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="footer-bottom  gray-bg-6 ptb-20">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12">
                    <div class="copyright-2">
                        <p>
                            Copyright ©
                            <a href="hastech.company/">Adazal</a> 2023 . All Right Reserved.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
</body>
</html>