<%- include('partials/header') %> 
        <!-- header end -->
		<div class="breadcrumb-area pt-205 pb-210" style="background-image: url(img/bg/breadcrumb.jpg)">
            <div class="container">
                <div class="breadcrumb-content text-center">
                    <h2>register</h2>
                    <ul>
                        <li><a href="/">home</a></li>
                        <li> register </li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- register-area start -->
        <div class="register-area ptb-100">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12 col-12 col-lg-12 col-xl-6 ml-auto mr-auto">
                        <div class="login-form-container">
                            <div class="furniture-bottom-wrapper">
                                <div class="col-4 role-choice choosen">
                                    <a href="/register">Customer</a>
                                </div>
                                <div class="col-4 role-choice">
                                    <a href="/register-ven">Vendor</a>
                                </div>
                                <div class="col-4 role-choice">
                                    <a href="/register-ship">Shipper</a>
                                </div>
                            </div>
                            
                        </div>
                        <div class="login">
                            <div class="login-form-container">
                                <div class="login-form">
                                    <form action="#" method="post">
                                        <input type="text" name="user-name" placeholder="Username*" required>
                                        <label for="birthday">Birthday:</label>
                                        <input type="date" id="birthday" name="birthday">
                                        <input type="password" name="user-password" placeholder="Password*" required>
                                        <input type="text" name="user-address" placeholder="Address*" required>
                                        <input type="tel" name="user-phone" placeholder="Phone*" required>
                                        <input name="user-email" placeholder="Email" type="email">
                                        <p>Choose your avatar(optional):</p>
                                        <input type="file" id="myFile" name="filename" accept="image/*">
                                        <p>Do you have any experience?</p>
                                        <div class="row">
                                            <input class="col-1" type="radio" id="none" name="experience" value="none" checked>
                                            <label class="col-11" for="none">None</label>
                                        </div>
                                        <div class="row">
                                            <input class="col-1" type="radio" id="less-6" name="experience" value="less-6">
                                            <label class="col-11" for="less-6">Less than 6 months</label>
                                        </div>
                                        <div class="row">
                                            <input class="col-1" type="radio" id="more-6" name="experience" value="more-6">
                                            <label class="col-11" for="more-6">More than 6 months</label>
                                        </div>
                                        
                                        <label for="hubs">Choose a hub you like to work with:</label>
                                        <select name="hubs" id="hubs">
                                            <option value="hcm">Ho Chi Minh</option>
                                            <option value="dn">Da Nang</option>
                                            <option value="hn">Ha Noi</option>
                                        </select>
                                        <div class="button-box">
                                            <button type="submit" class="default-btn floatright">Register</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- register-area end -->
	<%- include ('partials/footer') %>	