    <%- include ('partials/header') %>
        <!-- header end -->
		<div class="breadcrumb-area pt-205 pb-210" style="background-image: url(assets/img/bg/breadcrumb.jpg)">
            <div class="container">
                <div class="breadcrumb-content text-center">
                    <h2>register</h2>
                    <ul>
                        <li><a href="/">home</a></li>
                        <li> register </li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- register-area start -->
        <div class="register-area ptb-100">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12 col-12 col-lg-12 col-xl-6 ml-auto mr-auto">
                        <div class="login-form-container">
                            <div class="login-form">
                                <div class="col-4 role-choice choosen">
                                    <a href="/register">Customer</a>
                                </div>
                                <div class="col-4 role-choice">
                                    <a href="/register-ven">Vendor</a>
                                </div>
                                <div class="col-4 role-choice">
                                    <a href="/register-ship">Shipper</a>
                                </div>
                            </div>
                            
                        </div>
                        <div class="login">
                            <div class="login-form-container">
                                <div class="login-form">
                                    <form action="#" method="post">
                                        <p>Seller type:</p>
                                        <div class="row">
                                            <input class="col-1" type="radio" id="individual" name="seller_type" value="individual" checked>
                                            <label class="col-11" for="individual">Individual</label>
                                        </div>
                                        <div class="row">
                                            <input class="col-1" type="radio" id="bussiness" name="seller_type" value="bussiness">
                                            <label class="col-11" for="bussiness">Registered bussiness</label>
                                        </div>
                                        <input type="text" name="user-name" placeholder="User name*" required>
                                        <input type="text" name="shop-name" placeholder="Shop name*" required>
                                        <input type="password" name="user-password" placeholder="Password*" required>
                                        <input type="text" name="user-address" placeholder="Address*" required>
                                        <input type="tel" name="user-phone" placeholder="Phone*" required>
                                        <input name="user-email" placeholder="Email*" type="email" required>
                                        <p>Shipping channel(s):</p>
                                        <input type="checkbox" id="channel1" name="channel1" value="standard">
                                        <label for="channel1"> Standard delivery</label><br>
                                        <input type="checkbox" id="channel2" name="channel2" value="heavy">
                                        <label for="channel2"> Bulky & heavy delivery</label><br>
                                        <input type="checkbox" id="channel3" name="channel3" value="economy">
                                        <label for="channel3"> Economy delivery</label><br><br>
                                        <p>Choose your shop's avatar*:</p>
                                        <input type="file" id="myFile" name="filename" accept="image/*" required>
                                        <div class="button-box">
                                            <button type="submit" class="default-btn floatright">Register</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- register-area end -->
    <%- include ('partials/footer') %>