    <%- include ('partials/header') %>
        <!-- header end -->
		<div class="breadcrumb-area pt-205 pb-210" style="background-image: url(assets/img/bg/breadcrumb.jpg)">
            <div class="container">
                <div class="breadcrumb-content text-center">
                    <h2>register</h2>
                    <ul>
                        <li><a href="#">home</a></li>
                        <li> register </li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- register-area start -->
        <div class="register-area ptb-100">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12 col-12 col-lg-12 col-xl-6 ml-auto mr-auto">
                        <div class="login-form-container">
                            <div class="login-form">
                                <div class="col-4 role-choice choosen">
                                    <a href="">Customer</a>
                                </div>
                                <div class="col-4 role-choice">
                                    <a href="">Vendor</a>
                                </div>
                                <div class="col-4 role-choice">
                                    <a href="">Shipper</a>
                                </div>
                            </div>
                            
                        </div>
                        <div class="login">
                            <div class="login-form-container">
                                <div class="login-form">
                                    <form action="#" method="post">
                                        <input type="text" name="user-name" placeholder="Username*" required>
                                        <input type="password" name="user-password" placeholder="Password*" required>
                                        <input type="text" name="user-address" placeholder="Address">
                                        <input type="tel" name="user-phone" placeholder="Phone*" required>
                                        <input name="user-email" placeholder="Email" type="email">
                                        <p>Choose your avatar(optional):</p>
                                        <input type="file" id="myFile" name="filename" accept="image/*">
                                        <div class="button-box">
                                            <button type="submit" class="default-btn floatright">Register</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- register-area end -->
		<!-- modal -->
    <%- include ('partials/footer') %>
