<%- include('./partials/header') %> 
        <!-- header end -->
		<div class="breadcrumb-area pt-205 pb-210" style="background-image: url(img/bg/breadcrumb.jpg)">
            <div class="container">
                <div class="breadcrumb-content text-center">
                    <h2>register</h2>
                    <ul>
                        <li><a href="/">home</a></li>
                        <li> register </li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- register-area start -->
        <div class="register-area ptb-100">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12 col-12 col-lg-12 col-xl-6 ml-auto mr-auto">
                        <div class="login-form-container">
                            <div class="furniture-bottom-wrapper">
                                <div class="col-4 role-choice choosen">
                                    <button class="btn btn-primary"><a href="/register">Customer</a></button>
                                </div>
                                <div class="col-4 role-choice">
                                    <button class="btn btn-primary"><a href="/register-ven">Vendor</a></button>
                                </div>
                                <div class="col-4 role-choice">
                                    <button class="btn btn-primary"><a href="/register-ship">Shipper</a></button>
                                </div>
                            </div>
                            
                        </div>
                        <div class="login">
                            <div class="login-form-container">
                                <% if (errorMessages && errorMessages.length > 0) { %>
                                    <div class="error-messages">
                                      <ul>
                                        <% errorMessages.forEach(function(message) { %>
                                          <li class="alert alert-danger"><strong><%= message %></strong></li>
                                        <% }); %>
                                      </ul>
                                    </div>
                                  <% } %>
                                <div class="login-form">
                                    <form action="/register" method="post" enctype="multipart/form-data">
                                        <input type="text" name="username" placeholder="Username*" required>
                                        <input type="password" name="password" placeholder="Password*" required>
                                        <p>Choose your avatar(optional):</p>
                                        <input type="file" name="pfp" accept="image/*">
                                        <label for="distributionHub">Choose a hub you like to work with:</label>
                                        <select name="distributionHub" id="distributionHub">  
                                            <option value="Ho Chi Minh">Ho Chi Minh</option>
                                            <option value="Da Nang">Da Nang</option>
                                            <option value="Ha Noi">Ha Noi</option>
                                        </select>
                                        <div class="button-box">
                                            <input type="hidden" name="registrationType" value="shipper">
                                            <button type="submit" class="default-btn floatright">Register</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- register-area end -->
	<%- include ('partials/footer') %>	