<!--RMIT University Vietnam
Course: COSC2430 Web Programming
Semester: 2023A
Assessment: Assignment 2
Author: Nguyen Danh Bao, Nguyen Huu Khoi, Nguyen Anh Tu, Duong Viet Hoang, Le Dac Duy
ID: Nguyen Danh Bao(s3978319), Nguyen Huu Khoi(S3979411), Nguyen Anh Tu(s3975032), Le Dac Duy(s3978210), Duong Viet Hoang(s3962514)
Acknowledgement: Acknowledge the resources that you use here.-->

<%- include('../partials/header2') %>
   <body>
      <!--[if lt IE 8]>
      <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
      <![endif]-->
      <!-- header start -->
      <div id="header"></div>
      <!-- header end -->
      <!-- shopping-cart-area start -->
      <div class="blog-details pt-95 pb-100">
         <div class="container">
            <div class="row">
               <div class="col-12">
                  <div class="blog-details-info">
                     <div class="blog-meta">
                        <ul>
                           <li>More</li>
                           <li>September 9, 2023</li>
                        </ul>
                     </div>
                     <h3>LAZADA'S POLICY ON INTELLECTUAL PROPERTY VIOLATIONS</h3>
                     <img src="/img/more/property.jpg" alt="">
                     <p>Update on December 16, 2022.</p>
                     <p>This version is effective as of December 22, 2022. To reference the previous version of the Lazada Intellectual Property Policy, please click HERE.</p>
                     <p>Lazada South East Asia Pte Ltd and its affiliated parties (collectively referred to as &quot;Lazada,&quot; &quot;we,&quot; or &quot;our&quot;) are committed to protecting intellectual property rights (&quot;IP Rights&quot;) related to products listed on our e-commerce platform, and we take stringent measures when addressing complaints about IP Rights infringement on our operated e-commerce platforms, including <a data-fr-linked="true" href="//www.lazada.co.th">www.lazada.co.th</a>, <a data-fr-linked="true" href="//www.lazada.com.my">www.lazada.com.my</a>, <a data-fr-linked="true" href="//www.lazada.co.id">www.lazada.co.id</a>, <a data-fr-linked="true" href="//www.lazada.vn">www.lazada.vn</a>, <a data-fr-linked="true" href="//www.lazada.com.ph">www.lazada.com.ph</a>, and <a data-fr-linked="true" href="//www.lazada.sg">www.lazada.sg</a>, mobile applications, and any other internet domains owned, controlled, or operated by the Lazada Group (collectively referred to as the &quot;Platform&quot;).</p>
                     <p>Users of our Platform (&quot;Users&quot;) are strictly prohibited from engaging in actions that violate IP Rights on the Platform, including but not limited to actions such as: Users posting content, listing products or services, or engaging in any restricted actions related to IP Rights as defined by our Platform, or using the Platform in any manner that infringes IP Rights. Users who infringe IP Rights will be subject to measures detailed in our policies on the Platform, and/or any other actions that we deem necessary, including but not limited to Lazada initiating civil or criminal proceedings independently or in conjunction with the IP Rights owner.</p>
                     <p>Lazada, the licensor to Lazada, or Lazada&apos;s service providers own, license, and control all IP Rights on the Platform and over materials on the Platform. Lazada is responsible for and will assist government agencies in investigating and processing IP Rights infringements and resolving disputes, complaints (including providing information about entities with indications of IP Rights infringements on the Lazada Marketplace to the relevant competent government authorities upon discovery or receipt of such information), and cooperating with IP Rights owners to review and remove IP Rights infringing products according to the procedures and disclosure requirements stipulated in the Operating Rules of the Electronic Trading Platform posted on the Platform at any given time. At the same time, Lazada reserves the right to enforce our IP Rights to the fullest extent permitted by law.</p>
                     <p>For the purpose of this policy, &quot;IP Rights&quot; mean all rights, including but not limited to copyrights, patents, trademarks, service marks, domain names, design rights, database rights, trade names or business names, trade secrets and confidential information, rights in goodwill and reputation, and all other similar intellectual property rights, and all registrations of these rights, whether presently existing or created in the future, in any part of the world, whether registered or unregistered, and all rights, benefits, privileges, remedies, and claims for damages, and causes of action for infringement of any of these rights, whether arising past, present, or future.</p>
                     <br>
                     <h4>A. IP Rights Infringement</h4>
                     <p>Users&apos; actions that violate IP Rights on our Platform include, but are not limited to:</p>
                     <p>I. Listing products or services that infringe copyrights or trademarks on the Platform, including:</p>
                     <ol>
                        <li>(1) Listing products or services using one or more trademarks identical to another registered trademark, which the User uses without the clear or implied consent of the registered trademark owner, concerning registered trademark products or related products, or registered services; or</li>
                        <li>(2) Listing products or services using one or more trademarks similar to another registered trademark, which the User uses without the clear or implied consent of the registered trademark owner, concerning registered trademark products or related products, or registered services, and which have the potential to cause confusion in the public regarding the source of the products or services; or</li>
                        <li>(3) Listing products that include copyrighted content that is copied without the clear or implied consent of the copyright owner.</li>
                    </ol>
                     <p>II. Using content that violates trademarks or copyrights on the Platform, including:</p>
                     <ol>
                     <li>(1) Using copyrighted content (e.g., images, drawings, videos) in product or service descriptions without the clear or implied consent of the copyright owner; or</li>
                     <li>(2) Using one or more trademarks related to product or service descriptions, and these trademarks are identical or similar to a registered trademark, and applying these trademarks without the clear or implied consent of the registered trademark owner, concerning registered trademark products or related products, or registered services, and having the potential to cause confusion in the public regarding the source, authenticity, or association of the product or service and the registered trademark.</li>
                    </ol>
                     <p>III. Listing products or services that violate other IP Rights, including:</p>
                     <ol>
                     <li>Listing products or services that violate any other IP Rights recognized by the laws of the country where the infringement notice is filed, including but not limited to patents, registered designs, or any other IP Rights recognized by law or recognized by the final decision of a competent court.</li>
                    </ol>
                     <p>IV. Deceptive or Misleading Behavior, including:</p>
                     <ol>
                     <li>(1) Posting product descriptions or other information that is misleading or untrue about the products listed for sale; or</li>
                     <li>(2) Any other deceptive or misleading behavior by Users related to posting product or service information on the Platform, or any other actions aimed at circumventing Lazada&apos;s anti-counterfeit measures.</li>
                    </ol>
                     <br>
                     <h4>B. Types of Notices Not Accepted by Lazada</h4>
                     <p>I. Distribution Agreements</p>
                     <ol>
                     <li>We respect the rights of brand owners, manufacturers, trading companies, and/or distributors in entering into agreements related to the distribution of their products (such as exclusive distribution agreements). However, violations of such distribution agreements will not constitute IP Rights infringement. Enforcing agreements related to product distribution is a matter between the parties to that agreement, so we do not support handling complaints related to product distribution rights.</li>
                    </ol>
                     <p>II. Compatibility Claims</p>
                     <ol>
                     <li>Lazada does not process violation reports requesting the removal or modification of accurate compatibility descriptions with registered trademarked products. If the product description clearly and accurately states that the product being sold on the page is compatible with the registered trademarked product, Lazada will not process complaints related to these products.</li>
                    </ol>
                     <p>III. Jurisdiction</p>
                     <ol>
                     <li>If you submit a notice to Lazada about trademark, patent, or registered design infringement, your trademark, patent, or registered design must be registered in the country where you submit the infringement notice. Lazada will not take action on infringement notices related to IP Rights that are registered in countries other than the country where the notice requests the removal of IP Rights-infringing products. For example, if you are the owner of a trademark registered in Thailand and you submit a notice through the Lazada IP Rights Protection Portal requesting the removal of IP Rights-infringing products listed on the Singapore Platform, your notice will not be processed.</li>
                    </ol>
                     <p>IV. Parallel Imports</p>
                     <ol>
                     <li>Unless the laws of the country where you submit an IP Rights infringement notice explicitly prohibit it, Lazada will not process notices related to products imported in parallel or products in unofficial markets in countries where we operate the Platform.</li>
                    </ol>
                     <br>
                     <h4>C. IP Rights Infringement Notices</h4>
                     <ol>
                     <li>(1) TO SUBMIT AN IP RIGHTS INFRINGEMENT NOTICE, YOU MUST BE THE IP RIGHTS OWNER OR BE GRANTED EXCLUSIVE LICENSE RIGHTS TO THE IP RIGHTS AS THE SUBJECT OF THE IP RIGHTS INFRINGEMENT NOTICE OR BE AUTHORIZED IN WRITING BY THE IP RIGHTS OWNER TO SUBMIT THE IP RIGHTS INFRINGEMENT NOTICE.</li>
                     <li>(2) Lazada protects Users&apos; IP Rights. In order to prevent IP Rights infringements, Lazada has established the Lazada IP Rights Protection Portal to cooperate with IP Rights owners to review and remove IP Rights-infringing products on the Lazada Marketplace. If you suspect that your IP Rights have been infringed by Users, you can submit an IP Rights Infringement Notice to Lazada</li>
                    </ol>
                    </div>
                  <br>
                  
               </div>
            </div>
         </div>
      </div>
      <%- include('../partials/footer') %>
